<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <br>
        <div class="container">
            <div>
                <h1>Dashboard</h1>
            </div>
            <hr>
            <h3>Hi <%= name %> ! This is your home page.</h3>
            <br>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn btn-danger">Log Out</button>
            </form>
        </div>
    </body>
</html>

